* {
    box-sizing: border-box;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    user-select: none;
 }

 body{
    background-color: rgb(32, 36, 34);
    /* display: flex; */
    /* height: 100vh; */
    /* justify-content: center;
    align-items: center; */
    border: 1px solid white;
 }

 button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
      border-radius: 5px;
      border: none;
      margin: 10px;
      padding: 10px 10px;
    /* box-shadow: 1px 1px 5px rgb(255, 255, 255); */
      background-color: rgb(255, 0, 0);
      transition: top 0.5s ease, left 0.5s ease;
      color: white;
  }
  button:hover{
    opacity: .5;
  }
 
  #hover-count{
   position: fixed; /* Fixed position to stay in the bottom left */
    bottom: 20px; /* 20 pixels from the bottom */
    left: 20px; /* 20 pixels from the left */
    font-size: 2rem; /* Larger text size */
    color: white; /* Change text color to white for visibility */
    z-index: 1000; /* Ensure it appears above other content */
    opacity: 1;
  }
  #hover-count:hover{
   opacity: 1;;
  }


  #close-tab-btn{
   position: absolute;
      top: 100%;
      left: 100%;
      transform: translate(-150%, -150%); 
      font-size: 1.5rem;
      border-radius: 5px;
      border: none;
      margin: 10px;
      padding: 10px 10px;
    /* box-shadow: 1px 1px 5px rgb(255, 255, 255); */
      background-color: rgb(5, 96, 17);
      transition: top 0.5s ease, left 0.5s ease;
      color: white;
   }

   #close-tab-btn:hover{
      opacity: 1;
   }